<%- include('partials/header') %>  
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<!-- Bar Chart Canvas -->
<div class=" p-4 mb-5 container" >
    <div class="d-flex justify-content-end btn border-0">
        <select class="shadow p-1 mb-5 bg-body rounded border-0 text-danger pointer" name="" id="chartFilterType"  onchange="handleChartFilterChange()">
            <option value="monthly" >monthly</option>
            <option value="yearly" >yearly</option>
            <option value="weekly" >weekly</option>
        </select>
        </div>
    <canvas class="" id="barChart"></canvas>
  </div>


<div class="container">
  <div class="row justify-content-around">
<!-- top selling products -->
 
<div class="col-12 col-md-12 col-lg-5 mb-2">
    <h5 class="fw-bold mb-2">Top Selling Products</h5>
    <table class="table table-bordered table-striped text-center align-middle">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Product Name</th>
          <th scope="col">Total Quantity Sold</th>
        </tr>
      </thead>
      <tbody>
        <% topSellingProducts.forEach(product => { %>     
          <tr>
            <% for(let key in product) { %>
              <% if(key === 'image') { %>
                <td><img src="\<%= product[key] %>" alt="Product Image" style="width: 5rem;" class="img-fluid"></td>
              <% } else { %>
                <td><%= product[key] %></td>
              <% } %>
            <% } %>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <!-- top selling category -->
  
  <div class="col-12 col-md-6 col-lg-3 mb-2">
    <h5 class="fw-bold mb-2">Top Selling Categories</h5>
    <table class="table table-bordered table-striped text-center align-middle">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Category Name</th>
          <th scope="col">Total Quantity Sold</th>
        </tr>
      </thead>
      <tbody>
        <% topSellingCategories.forEach(category => { %>     
          <tr>
            <% for(let key in category) { %>
                <td style="height: 5rem;" ><%= category[key] %></td>
            <% } %>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

    <!-- top selling brand -->
    
    <div class="col-12 col-md-6 col-lg-3">
    <h5 class="fw-bold mb-2">Top Selling brands</h5>
    <table class="table table-bordered table-striped text-center align-middle">
      <thead class="thead-dark">
        <tr>
          <th scope="col">brand Name</th>
          <th scope="col">Total Quantity Sold</th>
        </tr>
      </thead>
      <tbody>
        <% topSellingBrands.forEach(brand => { %>     
          <tr>
            <% for(let key in brand) { %>
                <td style="height: 5rem;" ><%= brand[key] %></td>
            <% } %>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
</div>



<script>
  const chartFilterG = <%- chartFilter %>; 
</script>

<script src="/js/chart.js"></script>
    <!-- Bootstrap JS -->
<%- include('partials/footer') %>
