<%- include('partials/header') %>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <a href="/shop">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

   <% if (cart) { %>
    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% cart.items.forEach(item => { %>
                                <tr id="cart-item-<%= item._id  %>"> 
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="<%= item.product.images[0] %>" alt="">

                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6><%= item.product.productName %></h6> 
                                            <h5 id="itemPrice">₹ <%= item.product.variants[0].price %></h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                <input id="itemQuantity" type="text" value="<%= item.quantity %>">
                                            </div>
                                        </div>
                                    </td>
                                    <td id="itemTotal" class="cart__price">₹ <%= (item.product.variants[0].price) * item.quantity %></td>
                                    <td onclick="deleteCartItem('/deleteCartItem/<%= item._id %>')" class="cart__close"><i class="fa fa-close"></i></td>
                                </tr>
                                <% }) %>    
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="continue__btn update__btn">
                                <a href="/shop">Continue Shopping</a>
                            </div>
                        </div>
                        <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn update__btn">
                                <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart__discount">
                        <h6>Discount codes</h6>
                        <form action="#">
                            <input type="text" placeholder="Coupon code">
                            <button type="submit">Apply</button>
                        </form>
                    </div>
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Total MRP <span>₹ <%= cart.totalPrice %></span></li>
                            <li>Discount on MRP <span>0</span></li>
                            <li>Coupan Discount <span>0</span></li>
                            <li>Shipping Fee <span>0</span></li>
                            <hr>
                            <li class="text-dark font-weight-bold">Total Amount <span>$ 169.50</span></li>
                        </ul>
                        <a href="#" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>      
        </div>
    </section>
    <!-- Shopping Cart Section End -->
    <% } else { %> 
        <div class="container">your cart is empty</div>
    <% } %>

    <script>
        // const itemPrice = document.getElementById('itemPrice')
        // const itemQuantity = document.getElementById('itemQuantity')
        // const itemTotal = document.getElementById('itemTotal')
        // console.log('itemPrice',itemPrice)
        // console.log('item quantity',itemQuantity)
        // console.log('item total',itemTotal)
        // const decrement = document.querySelector('.dec')
        // decrement.addEventListener('click',()=>{
        //     itemQuantiy.value() -= 1
        //     itemTotal = itemQuantity * itemPrice
        // })
        // console.log('decrement class',decrement)
        // const increment = document.querySelector('.inc')
        // console.log('increment class',increment)

        //delete an item from cart

        function deleteCartItem(url){
            const splitUrl = url.split('/')
            const itemId = splitUrl[splitUrl.length -1]
            console.log('itemID',itemId)
            try {
                Swal.fire({
                title: "Are you sure?",
                text: "You want to remove the product",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
              }).then((result) => {
                if (result.isConfirmed) {
                  fetch(url,{
                    method:'DELETE',
                    headers:{
                        'Content-Type':'application/json'
                    }
                  })
                  .then(response => response.json())
                  .then(result =>{
                      if (result.success) {
                         const deletedCart = document.getElementById(`cart-item-${itemId}`)
                         deletedCart.remove()  
                         
                          Swal.fire({
                          title: "Deleted!",
                          text: 'deleted successfully',
                          icon: "success"
                        });
                          
                      } else {
                          console.log('error')
                          Swal.fire({
                          icon: "error",
                          title: "Oops...",
                          text: 'something went wrong',
                        });
                      }
                  }) 
                }  
              })
            } catch (error) {
                console.log('something went wrong',error)
            }
        }
    </script>
    

    <%- include('partials/footer') %> 