<%- include('partials/header') %>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">cart</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <form id="checkout-form" onsubmit="return false">
                  <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <h4 class="checkout__title mb-5">Select Delevery Address</h4>

                               <% if (address) { %>
                                <% let isOtherAddressShown = false; %>
                               <% address.addresses.forEach(address => { %>

                                   <% if (address.isDefault) { %>
                                    <h4 class="checkout__type_title mb-2">Defauld Address</h4>
                                    <div id="currAddress-<%= address._id %>" class="mb-4 px-4 py-4 saved-address">
                                        <div class="d-flex align-items-start">
                                            <!-- Radio button -->
                                            <div class="pr-3">
                                                <input type="radio" checked name="selectedAddress" value="<%= address._id %>" id="address-<%= address._id %>">
                                            </div>
                                            <!-- Address details -->
                                            <div class="flex-grow-1">
                                                <div class="d-flex justify-content-between mb-3">
                                                    <span class="font-weight-bold text-uppercase"><%= address.fullName %></span>
                                                    <span class="text-right rounded px-2 font-weight-bold" style="background: #e4e5f1;">
                                                        <%= address.typeOfAddress %>
                                                    </span>
                                                </div>
                                                <div><%= address.localAddress %></div>
                                                <div><%= address.city %></div>
                                                <div><%= address.state %></div>
                                                <div class="mt-2">mobile: <span class="font-weight-bold"><%= address.mobile %></span></div>
                                                <div><%= address.email || '' %></div>
                                                <hr>
                                                <div class="d-flex justify-content-between">
                                                    <div type="button" class="text-danger font-weight-bold" onclick="editAddress('/myProfile/editAddres/<%= address._id %>?profile=0')">Edit</div>
                                                    <div class="bg-dark" style="max-height: 100%; width: 1px;"></div>
                                                    <div type="button" onclick="deleteAddress('/myProfile/deleteAddress/<%= address._id %>')" class="text-danger font-weight-bold">Remove</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   <% } else { %>
                                    <!-- checking if the other address already displayed once -->
                                    <% if (!isOtherAddressShown) { %>
                                        <h4 class="checkout__type_title mb-2">Other Address</h4>
                                        <% isOtherAddressShown = true; %>
                                    <% } %>

                                    <div id="currAddress-<%= address._id %>" class="mb-2 px-4 py-4 saved-address">
                                        <div class="d-flex align-items-start">
                                            <!-- Radio button -->
                                            <div class="pr-3">
                                                <input type="radio" name="selectedAddress" value="<%= address._id %>"  id="address-<%= address._id %>">
                                            </div>
                                            <!-- Address details -->
                                            <div class="flex-grow-1">
                                                <div class="d-flex justify-content-between mb-3">
                                                    <span class="font-weight-bold text-uppercase"><%= address.fullName %></span>
                                                    <span class="text-right rounded px-2 font-weight-bold" style="background: #e4e5f1;">
                                                        <%= address.typeOfAddress %>
                                                    </span>
                                                </div>
                                                <div><%= address.localAddress %></div>
                                                <div><%= address.city %></div>
                                                <div><%= address.state %></div>
                                                <div class="mt-2">mobile: <span class="font-weight-bold"><%= address.mobile %></span></div>
                                                <div><%= address.email || '' %></div>
                                                <hr>
                                                <div class="d-flex justify-content-between">
                                                    <div type="button" class="text-danger font-weight-bold" onclick="editAddress('/myProfile/editAddres/<%= address._id %>?profile=0')">Edit</div>
                                                    <div class="bg-dark" style="max-height: 100%; width: 1px;"></div>
                                                    <div type="button" onclick="deleteAddress('/myProfile/deleteAddress/<%= address._id %>')" class="text-danger font-weight-bold">Remove</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                   <% } %>
                                   
                               <% }) %>
                            <% } %>     
                                              
                               <div onclick="checkAccess('/myProfile/addAddress?profile=0')" class="saved-address text-uppercase px-4 py-4 text-danger font-weight-bold">+ add new address</div>                     
                            </div> 
                        <div class="col-lg-4 col-md-6 ">
                            <% if (appliedCoupon && appliedCoupon.isActive) { %>
                                <div class="applied-coupon-container p-3 mb-4" style="background-color: #f0f8ff; border: 1px solid #ccc;">
                                    <h6 class="font-weight-bold text-success">Coupon Applied Successfully!</h6>
                                    <div class="d-flex justify-content-between align-items-center mt-2">
                                        <div class="font-weight-bold">Coupon Code:</div>
                                        <div class="coupon-code text-uppercase  text-success font-weight-bold p-2" style="font-size: 1rem;"><%= appliedCoupon.code %></div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center mt-2">
                                        <div class="font-weight-bold">You Saved:</div>
                                        <div class="saved-amount text-success font-weight-bold">RS <%= couponDiscount %></div> 
                                    </div>
                                    <button type="button" class="btn btn-danger mt-3 w-100" onclick="userRemoveCoupon('/checkout/removeCoupon','<%= appliedCoupon._id %>')" id="remove-coupon">Remove Coupon</button>
                                </div>
                            <% } else { %>
                                <div id="coupon-parent">
                                    <div id="coupons-container" class="cart__discount">
                                        <h6>Discount codes</h6>
                                        <div id="coupon-form-container">
                                            <input id="coupon-code-input" class="text-dark font-weight-bolder text-uppercase" type="text"  placeholder="Coupon code" />
                                            <button type="button" id="apply-coupon-btn">Apply</button>
                                        </div>
                            
                                <p id="coupon-notvalid" class="text-danger d-none fs-14"></p>
                               
                                <% if (coupons) { %>
                                    <div id="" class="overflow-auto mt-3" style="max-height: 200px;">
                                        <h6 class=" mb-3">Applicable Coupon</h6>
                                        <% coupons.forEach(coupon => { %>
                                           <% if (cart.totalPrice >= coupon.minimumSpend) { %> 
                                            <ul class="list-group list-unstyled overflow-auto">
                                                <li class="list-item p-2 " style="background: #f3f2ee;">
                                                    <input type="radio" name="coupon" class="coupon-radio" value="<%= coupon.code %>"> 
                                                    <span class="font-weight-bold ml-2"><%= coupon.code %></span><br>
                                                    <div><%= coupon.description %></div>
                                                </li>
                                            </ul>
                                           <% } %>
                                        <% }) %>
                                    </div>
                                <% } %>     
                        </div>
                    </div>
                        <% } %>
                   
                            <div class="checkout__order">
                                <h4 class="order__title">Your order</h4>
                                <div class="checkout__order__products">Product <span>Total</span></div>
                                <ul class="checkout__total__products">
                                    <% cart.items.forEach((item, index)=> { %>
                                    <li><%= index + 1 < 10 ? '0' + (index + 1) : index + 1 %>. 
                                        <%= item.product.productName %> 
                                        <span>₹ <%= item.itemTotal %></span></li>
                                    <% }) %>
                                </ul>
                                <ul class="checkout__total__all">
                                    <li>Sub Total <span id="cart-total-mrp">₹ <%= cart.totalPrice + couponDiscount - cart.shippingFee %></span></li>
                                    <li>Coupon Discount <span id="coupan-discout"><%= couponDiscount %></span></li>
                                    <li>Shipping Fee <span id="delevery-fee" class="text-success fs-14"><%= cart.shippingFee == 0 ? 'free':cart.shippingFee %></span></li>
                                    <hr>
                                    <li class="text-dark font-weight-bold">Total Amount <span id="cart-total">₹ <%= cart.totalPrice %></span></li>
                                </ul>

                                <div class="checkout__input__checkbox">
                                    <div class="mb-2 font-weight-bold">Choose payment option</div>
                                    <label for="payment">
                                        COD
                                        <input type="radio" value="COD" name="paymentType" id="payment">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label for="razorpay">
                                        Online
                                        <input type="radio"  value="RAZORPAY" name="paymentType" id="razorpay">
                                        <span class="checkmark"></span>
                                    </label>
                                    <!-- <label for="wallet">
                                        wallet
                                        <input type="radio" value="WALLET" name="paymentType" id="wallet">
                                        <span class="checkmark"></span>
                                    </label> -->
                                </div>
                                <button onclick="placeOrder('/cart/checkOut/placeOrder')" class="site-btn">PLACE ORDER</button>
                            </div>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->

    <script src="/js/applyCoupon.js"></script>

    <script src="/js/addAddress.js"></script>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    

    <script src="/js/placeOrder.js"></script>
    

<%- include('partials/footer') %> 
