<%- include('partials/header') %>


    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form action="#">
                                <input type="text" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">   
                                                    <% categories.forEach(category=>{ %>  
                                                       <li><a href="#" onclick="categoryFilter(event, '<%= category.categoryName %>')" ><%= category.categoryName%></a></li> 
                                                   <% }) %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                  <% brands.forEach(brand=>{ %>
                                                      <li><a href="#" onclick="brandFilter(event, '<%= brand.brandName %>')" ><%= brand.brandName%></a></li> 
                                                  <% }) %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                    </div>
                                    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__price">
                                                <ul>
                                                    <li><a href="#">$0.00 - $50.00</a></li>
                                                    <li><a href="#">$50.00 - $100.00</a></li>
                                                    <li><a href="#">$100.00 - $150.00</a></li>
                                                    <li><a href="#">$150.00 - $200.00</a></li>
                                                    <li><a href="#">$200.00 - $250.00</a></li>
                                                    <li><a href="#">250.00+</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                    </div>
                                    <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__size">
                                                <label for="xs">xs
                                                    <input type="radio" id="xs">
                                                </label>
                                                <label for="sm">s
                                                    <input type="radio" id="sm">
                                                </label>
                                                <label for="md">m
                                                    <input type="radio" id="md">
                                                </label>
                                                <label for="xl">xl
                                                    <input type="radio" id="xl">
                                                </label>
                                                <label for="2xl">2xl
                                                    <input type="radio" id="2xl">
                                                </label>
                                                <label for="xxl">xxl
                                                    <input type="radio" id="xxl">
                                                </label>
                                                <label for="3xl">3xl
                                                    <input type="radio" id="3xl">
                                                </label>
                                                <label for="4xl">4xl
                                                    <input type="radio" id="4xl">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by:</p>
                                    <select id="filter" name="filter" onchange="applyFilter()">
                                        <option value="">select</option>
                                        <option value="price-low-high">Low to High</option>
                                        <option value="price-high-low">High to Low</option>
                                        <option value="a-z">A-Z</option>
                                        <option value="z-a">Z-A</option>
                                        <option value="average-ratings">Average Ratings</option>
                                        <option value="new-arrivals">New Arrivals</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                        <% products.forEach(product => { %>
                        <a href="/viewProduct/<%= product._id %>">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="img-hover-zoom  overflow-hidden" >
                                    <img src="<%= product.variants[0].images[0] %>" alt="image">
                                </div>
                                <div class="product__item__text"> 
                                    <h6><%= product.productName %></h6>
                                    <a href=""></a>
                                    <% if ((product.variants[0].sizes[0].stock) === 0) { %>
                                      <span class="text-warning fs-14">out of stock</span>
                                    <% } else { %> 
                                       <span id="cart-action-<%= product._id %>" onclick="<%= productsInCart[product._id]? `checkAccess('/cart')`:`addCart('/addToCart/${product._id}')` %>">
                                           <%- productsInCart[product._id]? '<i class="fa-solid fa-arrow-right"></i>  GO TO CART': '+ ADD TO CART'%>
                                       </span> 
                                    <% } %>
                                    
                                    <div class="rating">

                                        <!-- average rating for the product -->
    
                                    <% const avgRating = averageRating[product._id] %>  
                                        <% for( let index = 1; index <= 5; index++ ) { %>
                                            <% if (avgRating >= index) { %>
                                                <i class="fa-solid fa-star text-warning"></i>
                                            <% } else { %>
                                            <i class="fa-regular fa-star text-warning"></i> 
                                            <% } %>
                                        <% } %>                   
                                    </div>

                                        <% if (product.offer && product.offer.expirAt && new Date(product.offer.expirAt) >= new Date()) { %>

                                            <% const originalPrice = product.variants[0].price %>
                                            <% const offerPrice = Math.round(originalPrice - (originalPrice * product.offer.discountPercentage/100)) %>
                                            <h5 class="d-inline mr-2" id="dicoutedPrice-<%= product._id %>">₹<%= offerPrice %></h5>
                                            <h6 class="d-inline" id="mrp-<%= product._id %>" style="text-decoration: line-through;">₹ <%= product.variants[0].price%></h6>
                                            <span class="ml-2 red">(<%= product.offer.discountPercentage %>%)off</span>
    
                                        <% }else { %>
                                        <h5 id="mrp-<%= product._id %>">₹ <%= product.variants[0].price%></h5>
                                        <% } %>
                                    
                                    <div class="product__color__select">
                                        <label for="pc-4">
                                            <input type="radio" id="pc-4">
                                        </label>
                                        <label class="active black" for="pc-5">
                                            <input type="radio" id="pc-5">
                                        </label>
                                        <label class="grey" for="pc-6">
                                            <input type="radio" id="pc-6">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                        <% }) %>
                    
                       
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                <% for(let i = 1; i <= totalPages; i++) { %>
                                    <a class="<%= page === i ? 'active' : '' %>" href="?page=<%= i %>&limit=<%= limit %><%= selectedCategory ? `&category=${selectedCategory}` : '' %><%= selectedBrand ? `&brand=${selectedBrand}` : '' %><%= filter ? `&filter=${filter}` : '' %><%= search ? `&search=${search}` : '' %>"><%= i %></a>
                                <% } %>
                                <!-- <a class="active" href="?">1</a> -->
                                <!-- <a href="#">2</a>
                                <a href="#">3</a>
                                <span>...</span> -->
                                <!-- <a href="#">21</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

    <script>
        function applyFilter() {
        const filterValue = document.getElementById('filter').value;
        const url = new URL(window.location.href);
        url.searchParams.set('filter', filterValue);
        window.location.href = url;
    }

    //category filter
    function categoryFilter(event, category){
        event.preventDefault()
        window.location.href = `/shop?category=${category}`
    }

    //brand filter
    function brandFilter(event, brand){
        event.preventDefault()
        window.location.href = `/shop?brand=${brand}`
    }
    

    </script>

    <%- include('partials/footer') %> 