<%- include('partials/header') %>

    <!-- Shop Details Section Begin -->
    <section class="shop-details" style="margin-bottom: 55px;">
        <div class="product__details__pic">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__breadcrumb">
                            <a href="/">Home</a>
                            <a href="/shop">Shop</a>
                            <span>Product Details</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <ul class="nav nav-tabs" id="variant-images" role="tablist">

                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__pic__item"
                                    data-image-url="<%= product.variants[0].images[0] %>">
                                    <img id="selected-image" src="\<%= product.variants[0].images[0] %>" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product__details__content">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="product__details__text">
                            <h4>
                                <%= product.productName %>
                            </h4>

                            <div class="rating">
                                <% for( let index=1; index <=5; index++ ) { %>
                                    <% if (avgRating>= index) { %>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <% } else{ %>
                                            <i class="fa-regular fa-star text-warning"></i>
                                            <% } %>
                                                <% } %>
                                                    <span> - <%= review.length %> Reviews</span>
                            </div>

                            <% if (product.offer && product.offer.expirAt && new Date(product.offer.expirAt)>= new
                                Date()) { %>

                                <% const originalPrice=product.variants[0].price %>
                                    <% const offerPrice=Math.round(originalPrice - (originalPrice *
                                        product.offer.discountPercentage/100)) %>
                                        <h3 class="d-inline mr-2" id="dicoutedPrice-<%= product._id %>">₹<%= offerPrice
                                                %>
                                        </h3>
                                        <h6 class="d-inline" id="mrp-<%= product._id %>"
                                            style="text-decoration: line-through;">₹ <%= product.variants[0].price%>
                                        </h6>
                                        <span class="ml-2 red">(<%= product.offer.discountPercentage %>%)off</span>

                                        <% }else { %>
                                            <h3 id="mrp-<%= product._id %>">₹ <%= product.variants[0].price%>
                                            </h3>
                                            <% } %>

                                                <p>
                                                    <%= product.productDescription %>
                                                </p>
                                                <div class="product__details__option">
                                                    <div class="product__details__option__size" id="sizeOption">

                                                    </div>
                                                    <div class="product__details__option__color">
                                                        <span>Color:</span>
                                                        <% product.variants.forEach((variant, index)=> { %>
                                                            <label class="c-<%= variant.color %>"
                                                                for="<%= variant._id %>">
                                                                <input type="radio" value="<%= variant.color%>"
                                                                    id="<%= variant._id %>" name="colorVariant"
                                                                    <%=index===0 ?'checked': '' %>
                                                                onchange="handleVariantChange('<%= variant._id %>', '<%=
                                                                        variant.color %>')"
                                                                        >
                                                            </label>
                                                            <% }) %>
                                                    </div>
                                                </div>
                                                <p id="max-limit" class="text-danger fw-14 mb-2 text-start"></p>
                                                <div class="product__details__cart__option">

                                                    <div class="quantity">
                                                        <div class="pro-qty">
                                                            <input type="number" id="quantity-<%= product._id %>"
                                                                name="quantity" value="1" readonly />
                                                        </div>
                                                    </div>
                                                    <button onclick="addCart('/addToCart/<%= product._id %>')"
                                                        id="cart-action-<%= product._id %>"
                                                        class="primary-btn border-0">
                                                        <%- productInCart? '<i class="fa-solid fa-arrow-right"></i>  go to cart'
                                                            : 'add to cart' %>
                                                    </button>
                                                </div>
                                                <div class="product__details__btns__option">
                                                    <a href="#"
                                                        onclick="addwishlist(event, '/addWishlist/<%= product._id %>')"><i
                                                            class="fa fa-heart"></i> add to wishlist</a>
                                                </div>
                                                <div class="product__details__last__option">
                                                    <h5 class=""><span>Guaranteed Safe Checkout</span></h5>
                                                    <ul>
                                                        <li><span>category:</span>
                                                            <%= product.category%>
                                                        </li>
                                                        <li><span>Brand:</span>
                                                            <%= product.brand %>
                                                        </li>
                                                    </ul>
                                                </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__tab">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tabs-5"
                                        role="tab">Description</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab">Customer
                                        Previews(<%= review.length %>)</a>
                                </li> -->
                                <!-- <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-7" role="tab">Additional
                                        information</a>
                                </li> -->
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tabs-5" role="tabpanel">
                                    <div class="product__details__tab__content">

                                        <div class="product__details__tab__content__item">
                                            <h5>Products Infomation</h5>
                                            <p>
                                                <%= product.productDescription %>
                                            </p>
                                        </div>
                                        <div class="product__details__tab__content__item">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        const product = <%- JSON.stringify(product) %>

            console.log('product', product)
    </script>

    <script>
        let selectedVariant = null
        //zooming functionality
        document.querySelectorAll('.product__details__pic__item').forEach(item => {
            const img = item.querySelector('img')

            item.addEventListener('mousemove', (e) => {
                const { left, top, width, height } = item.getBoundingClientRect();
                const x = (e.clientX - left) / width;
                const y = (e.clientY - top) / height;

                img.style.transformOrigin = `${x * 100}% ${y * 100}%`;
                img.style.transform = 'scale(3)';
            })

            item.addEventListener('mouseleave', () => {
                img.style.transformOrigin = 'center center';
                img.style.transform = 'scale(1)';
            })
        })


        //variant selction
        const defaultSelectedVariant = document.querySelector('input[name="colorVariant"]:checked')
        if (defaultSelectedVariant) {
            handleVariantChange(defaultSelectedVariant.id, defaultSelectedVariant.value)
        }

        function handleVariantChange(variantId, color) {
            console.log('hello')
            try {
                console.log('variantId', variantId)
                console.log('color', color)

                //find the selected variant
                selectedVariant = product.variants.find(variant => variant._id === variantId)
                console.log('selected variant', selectedVariant)

                const selectedSize = selectedVariant?.sizes[0].size


                if (selectedVariant) {

                    // size
                    const sizeOptionContainer = document.getElementById('sizeOption')
                    sizeOptionContainer.innerHTML = '<span>Size:</span>'
                    selectedVariant.sizes.forEach((size, index) => {
                        const label = document.createElement('label')
                        label.textContent = size.size
                        label.setAttribute('for', `size-${index}`)

                        const input = document.createElement('input')
                        input.type = 'radio'
                        input.name = 'size'
                        input.value = size.size
                        input.id = `size-${index}`
                        input.style.display = 'none'

                        if (index === 0) {
                            input.checked = true
                            label.classList.add('active')
                        }

                        sizeOptionContainer.appendChild(input)
                        sizeOptionContainer.appendChild(label)
                    })

                    //Update Images
                    updateVariantImages(selectedVariant)

                    //Update Price
                    updateVariantPrice(selectedVariant)

                    //Update Stock Status
                    updateStockStatus(selectedVariant, selectedSize)


                }
            } catch (error) {
                console.error('something went wrong', error)
            }
        }

        function updateStockStatus(selectedVariant, selectedSize) {
            const productInCart = <%- productInCart %>
                console.log('product ', productInCart)
            console.log('selected docuemtn stock status', selectedVariant)
            console.log('selectedSize ', selectedSize)
            // Check if any size has stock
            const hasStock = selectedVariant.sizes.find(size => size.size == selectedSize && size.stock > 0)
            const productId = product._id;

            const cartButton = document.getElementById(`cart-action-${productId}`);
            const maxLimitElement = document.getElementById('max-limit');

            if (!hasStock) {
                // No stock
                if (cartButton) {
                    cartButton.disabled = true;
                    cartButton.innerHTML = 'Out of Stock';
                    cartButton.className = 'text-warning fs-14 border-0';
                }
                if (maxLimitElement) {
                    maxLimitElement.textContent = 'This size is currently out of stock';
                }
            } else {
                // Has stock
                if (cartButton) {
                    cartButton.disabled = false;
                    cartButton.className = 'primary-btn border-0';
                    cartButton.innerHTML = productInCart
                        ? '<i class="fa-solid fa-arrow-right"></i>  go to cart'
                        : 'add to cart';
                }
                if (maxLimitElement) {
                    maxLimitElement.textContent = '';
                }
            }
        }

        document.querySelectorAll('.single-image').forEach(item => {

            item.addEventListener('click', (img) => {
                let clickImage = img.target.getAttribute('src')

                document.getElementById('selected-image').setAttribute('src', clickImage)
            })
        })


        function updateVariantImages(selectedVariant) {
            console.log('started updating image ', selectedVariant)
            // Update thumbnail images
            const navTabs = document.getElementById('variant-images');
            navTabs.innerHTML = '';

            selectedVariant.images.forEach((img, index) => {
                console.log('image ', img)
                const li = document.createElement('li');
                li.className = 'nav-item';

                const a = document.createElement('a');
                a.className = index === 0 ? 'nav-link active' : 'nav-link';
                a.setAttribute('data-toggle', 'tab');
                a.setAttribute('href', img);
                a.setAttribute('role', 'tab');

                const div = document.createElement('div');
                div.className = 'product__thumb__pic';

                const imgElement = document.createElement('img');
                imgElement.className = 'single-image';
                imgElement.src = `\\${img}`
                imgElement.alt = '';

                // Add click event for thumbnail
                imgElement.addEventListener('click', (e) => {
                    const clickedImage = e.target.getAttribute('src');
                    document.getElementById('selected-image').setAttribute('src', clickedImage);

                    // Update active thumbnail
                    document.querySelectorAll('.nav-link').forEach(link => link.classList.remove('active'));
                    a.classList.add('active');
                });

                div.appendChild(imgElement);
                a.appendChild(div);
                li.appendChild(a);
                navTabs.appendChild(li);
            });

            // Update main image
            if (selectedVariant.images.length > 0) {
                document.getElementById('selected-image').src = `\\${selectedVariant.images[0]}`;
                document.querySelector('.product__details__pic__item').setAttribute('data-image-url', `\\${selectedVariant.images[0]}`);
            }
        }

        function updateVariantPrice(selectedVariant) {
            const productId = product._id;
            const originalPrice = selectedVariant.price;

            // Check if there's an active offer
            if (product.offer && product.offer.expirAt && new Date(product.offer.expirAt) >= new Date()) {
                const offerPrice = Math.round(originalPrice - (originalPrice * product.offer.discountPercentage / 100));

                // Update discounted price
                const discountedPriceElement = document.getElementById(`dicoutedPrice-${productId}`);
                if (discountedPriceElement) {
                    discountedPriceElement.textContent = `₹${offerPrice}`;
                }

                // Update original price (struck through)
                const mrpElement = document.getElementById(`mrp-${productId}`);
                if (mrpElement) {
                    mrpElement.textContent = `₹ ${originalPrice}`;
                }
            } else {
                // No offer - just update the regular price
                const mrpElement = document.getElementById(`mrp-${productId}`);
                if (mrpElement) {
                    mrpElement.textContent = `₹ ${originalPrice}`;
                }
            }
        }

    </script>

    <%- include('partials/footer') %>